<app-navbar [heading]="'Nurse Panel'">
    <button mat-button routerLink="doctorDetail">Doctor</button>
    <button mat-button routerLink="history">History</button>
    <button mat-button (click)="logOut()">Log Out</button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon routerLink="profile">perm_identity</mat-icon>
    </button>
</app-navbar>
<section>
<div class="main">
    <div class="details">
      <!-- <app-doctor-info></app-doctor-info> -->
        <!-- <app-profile></app-profile> -->
        <router-outlet></router-outlet>
    </div>
</div>
</section>