<div class="navbar">
    <mat-toolbar color="warn"> 
        <div>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
              </button>
            <div>{{heading}}</div>
        </div>
       
     <div>
        <ng-content></ng-content>
     </div>
    
     </mat-toolbar>
</div>