<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>{{data.message}}</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close mat-dialog-close="true">{{data.action1}}</button>
    <button mat-button mat-dialog-close mat-dialog-close="false">{{data.action2}}</button>
</mat-dialog-actions>