<mat-card>
    <div class="button">
        <app-button [label]="'Replace'" (onClick)="replaceDoctorDialog()"></app-button>
    </div>
    <div>
        <span>Doctor ID :{{doctorDetails.doctorId}}</span>
        <span>Doctor Name :{{doctorDetails.doctorName}}</span>
        <span>Doctor Email :{{doctorDetails.email}}</span>
        <span>specialization :{{doctorDetails.specialization}}</span>
    </div>
</mat-card>
