<mat-label>{{label}}</mat-label>
<mat-select [formControlName]="formControl" multiple>
    <mat-option *ngFor="let item of itemsList" [value]="item.id">
      {{item.value}}
      
    </mat-option>
</mat-select>