<app-card>
    <div class="main">
        <div class="image">
            <img src="../../../../../assets/images/profile_pic.png" alt="profile image">
        </div>
      <div class="details">
        <ng-container *ngFor="let item of profileDetails | keyvalue">
            <span> {{item.key | uppercase}}:{{item.value}}</span>
         </ng-container>
        <!-- <span>Id: {{profileDetails.id}}</span>
        <span>Name: {{profileDetails.name}}</span>
        <span>Email: {{profileDetails.email}}</span>
        <span>Specialization: {{profileDetails.specialization}}</span> -->
      </div>

      
        
      
    </div>
</app-card>