.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .image{
        flex-grow: 1;
        flex-basis: 20%;
            img{
                background-repeat: no-repeat;
                background-size: cover;
                width: 16rem;
                box-shadow: 2px 4px rgba(0,0,0,0.3);
            }
    }
    .details{
        flex-grow: 2;
        flex-basis: 80%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span{
            margin: 0.5rem;
            padding: 0.25rem;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: darkblue;
            font-size: 1rem;
            font-weight: bold;
        }
    }
}