<app-container>
  <div class="button">
    <app-button
      [label]="'Add Doctor'"
      (onClick)="openAddDoctorDialog()"
    ></app-button>

    <app-button
      [label]="'Allocate Nurse'"
      (onClick)="openAllocateDialog()"
    ></app-button>
  </div>
  <app-table
    [dataColumns]="doctorColumns"
    [dataSource]="doctors"
    [buttons]="actions"
  >
  </app-table>
</app-container>
