mat-dialog-content{
    display: flex;
    flex-direction: column;

}
mat-dialog-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    app-button{
        margin: 0.5rem;
    }
}
