<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content [formGroup]="data.form">
  <ng-container *ngFor="let field of data.fields">
    <mat-form-field appearance="fill">
      <ng-container *ngIf="field.inputType !== 'list'; else list">
        <mat-label>{{ field.label }}</mat-label>
        <input
          matInput
          type="{{ field.inputType }}"
          placeholder="{{ field.placeholder }}"
          [formControlName]="field.controlName"
        />
      </ng-container>
      <ng-template #list>
        <mat-label>{{ field.label }}</mat-label>
        <mat-select
          [formControlName]="field.controlName"
          multiple="{{ field.multiple }}"
        >
          <ng-container *ngIf="field.index === 0; else nurseList">
            <mat-option
              *ngFor="let item of data.lists[field.index]"
              [value]="item.doctorId"
            >
              {{ item.doctorName }}
            </mat-option>
          </ng-container>
          <ng-template #nurseList>
            <mat-option
              *ngFor="let item of data.lists[field.index]"
              [value]="item.nurseId"
            >
              {{ item.nurseName }}
            </mat-option>
          </ng-template>
        </mat-select>
      </ng-template>
    </mat-form-field>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions>
  <app-button
    (onClick)="close()"
    [label]="'Close'"
    [color]="'green'"
  ></app-button>
  <app-button
    (onClick)="onSubmit()"
    [label]="'Submit'"
    [color]="'white'"
    [mat-dialog-close]="form"
  ></app-button>
  <!-- <app-button [label]="'Submit'"></app-button>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="onSubmit()">Submit</button> -->
</mat-dialog-actions>
