<app-container>
  <div>
    <h2>Requests</h2>
    <button mat-button color="warn" routerLink="doctorRequests">Doctor Requests</button>
    <button mat-button color="warn" routerLink="nurseRequests">Nurse Requests</button>
  </div>
  <router-outlet></router-outlet>
  
</app-container>
