.form-container {
  height: 100vh;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 40, 83);

  h2 {
    margin-top: 1rem;
    color: rgb(22, 65, 78);
    text-align: center;
    font-size: 2rem;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;

    a {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
mat-tab-group {
  background-color: white;
  border-radius: 4px 4px rgba(0, 0, 0, 0.5);
}
