<div class="form-container">
  <mat-card>
    <mat-card-content>
      <h2>Login</h2>
      <form
        action=""
        class="form"
        [formGroup]="loginCredentials"
        (ngSubmit)="onLogin()"
      >
        <mat-form-field appearance="outline">
          <mat-label> Email </mat-label>
          <input
            matInput
            placeholder="Enter Email"
            formControlName="usernameOrEmail"
          />
          <mat-icon matSuffix>perm_identity</mat-icon>
          <mat-error
            *ngIf="
              loginCredentials.controls['usernameOrEmail'].hasError('email') &&
              !loginCredentials.controls['usernameOrEmail'].hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error
            *ngIf="
              loginCredentials.controls['usernameOrEmail'].hasError('required')
            "
          >
            Email is required
          </mat-error>
          <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label> Password </mat-label>
          <input
            matInput
            placeholder="Enter Password"
            formControlName="password"
          />
          <mat-icon matSuffix>key</mat-icon>
          <mat-error
            *ngIf="
              loginCredentials.controls['password'].hasError('required');
              else minlength
            "
          >
            password is required
          </mat-error>
          <ng-template #minlength
            ><mat-error #minlength>
              Minimum 5 characters
            </mat-error></ng-template
          >
          <mat-hint>min 8 characters</mat-hint>
        </mat-form-field>

        <div class="links">
          <a (click)="openForgotPasswordDialog()">Forgot Password</a>
          <span>OR</span>
          <a (click)="openResetPasswordDialog()">Reset Password</a>
        </div>

        <div class="button">
          <app-button
            [label]="'Login'"
            [type]="'submit'"
            (onClick)="onLogin()"
          ></app-button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
