<app-navbar [heading]="'Doctor Panel'">
    <button mat-button routerLink="nurses">Nurses</button>
    <button mat-button routerLink="doctorHistory">History</button>
    <button mat-button (click)="logOut()">Log Out</button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon routerLink="profile">perm_identity</mat-icon>
    </button>
</app-navbar>
<section>
<div class="main">
    <div class="details">
      
        <router-outlet></router-outlet>
    </div>
</div>
</section>


