<form action="" class="form" [formGroup]="formGroup">
    <ng-container *ngFor="let field of formFields" >
        
        <mat-form-field appearance="fill">
            <mat-label>{{field.label}}</mat-label>
            <input matInput type="{{field.inputType}}" placeholder="{{field.placeholder}}" [formControlName]="field.controlName">
          </mat-form-field>
    </ng-container>
    <button mat-raised-button color="primary" (click)="display()">Submit</button>
</form>