<app-container>
    <div class="button">
        <app-button [label]="'Add Nurse'" (onClick)="openAddNurseDialog()"></app-button>
        <app-button [label]="'Allocate Doctor'" (onClick)="openAllocateDialog()"></app-button>
    </div>
    <app-table [buttons]="actions" [dataColumns]="nurseColumns" [dataSource]="nurseDetails">
    </app-table>
</app-container>