.main {
  display: flex;
  height: 100vh;

  flex-direction: row;
  align-items: stretch;
}
.sidebar {
  flex-grow: 1;
  flex-basis: 20%;
}
.details {
  flex-grow: 6;
  flex-basis: 80%;
}
.options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  span {
    margin: 0.5rem 0rem;
    padding: 1rem 1rem;
    cursor: pointer;
    color: rgb(23, 57, 77);

    &:hover {
      background-color: rgb(247, 237, 234);
    }
  }
}
