<app-navbar [heading]="'Admin Panel'">
  <button mat-button routerLink="history">History</button>
  <button mat-button routerLink="requests">Requests</button>
  <button mat-button (click)="logOut()">Log Out</button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon routerLink="profile">perm_identity</mat-icon>
  </button>
</app-navbar>
<section>
  <div class="main">
    <div class="sidebar">
      <app-sidenav [label]="'Menu'">
        <div class="options">
          <span routerLink="doctor">Doctors</span>
          <span routerLink="nurse">Nurses</span>
        </div>
      </app-sidenav>
    </div>
    <div class="details">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
