<app-container>
    <h2>History</h2>
    <div>
      <app-card *ngFor="let history of doctorHistoryDetails">
        <p>
          Request {{ history.requestId }} from {{ history.doctorName }} to replace
          {{ history.oldNurseName }} with {{ history.newNurseName }} was
          {{ history.status }}
        </p>
      </app-card>
    </div>
  
  </app-container>
  